<!doctype>
<html>
	<head>
		 <title> Stats Page </title>
		 <a href ='/sightings'>Back to Sightings page</a>
		 <h1 align="center"> Squirrel Stats</h1>
	</head>
       	<body>
		<p>
			<ul>
				<h2>Basic Info </h2>
				<li> Total Unique Squirrels: {{ squirrel_count }} </li><br>
				<h2>Counts based on Activity</h2>
					<li>Active During Day: {{ AM_count }} </li>
					<li>Active During Night:  {{ PM_count  }} </li>
																												    <h2>Counts based on Color</h2>
					<li>Cinnamon(Camouflage themselves in Fall Leaves): {{Cinnamon_color}} </li>
					<li>Black(Hard to spot during nights): {{Black_color}}</li>

				<h2>Counts based on Characteristics</h2>
				<li>Running Squirrels:  {{ Running_count }} </li>
				<li>Foraging Squirrels:  {{ Foraging_count }} </li>
				<li>Approaching Squirrels:  {{  Approaches_count  }} </li>
				<li> Moaning Squirrels:  {{Moans_count  }} </li>
			</ul>
		</p>
	</body>
</html>
