<!doctype>
<html>
	<head>
		 <title> Stats Page </title>
		 <a href ='/sightings'>Back to sightings page</a>
		 <h1 align="center"> This is the Stats Page of Squirrel sightings</h1>
	</head>
       	<body>
		<p>
			<ul>
				<li> Count of Squirrels Shift:
					<ul>
						<li>AM: {{ AM_count }} </li>
						<li>PM:  {{ PM_count  }} </li>
																										    				</ul>
		       		</li> <br>
				<li>Number of squirrels Running:  {{ Running_count }} </li><br>
				<li>Number of squirrels Foraging:  {{ Foraging_count }} </li><br>
				<li>Number of squirrels Approaching:  {{  Approaches_count  }} </li><br>
				<li> Number of squirrels moaning:  {{Moans_count  }} </li><br>
			</ul>
		</p>
	</body>
</html>
